@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-area: 1 / col4-start / last-line / 6;
}
