@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
}

.container {
  background-color: hsl(213, 19%, 18%);
  border-radius: 28px;
  padding: 24px;
  color: hsl(217, 12%, 63%);
  max-width: 374px;
  max-height: 374px;
}

h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0px;
  font-size: 28px;
}

p {
  font-size: 15px;
}

button {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-size: 15px;
  border: none;
  padding: 12px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* <!-- Rating state start --> */
.rating-state-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.starImg {
  background-color: hsl(215, 20%, 23%);
  padding: 14px;
  margin: 12px 0;
  border-radius: 100%;
}

.number-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 16px;
}

.number-buttons {
  color: hsl(216, 12%, 54%);
  background-color: hsl(215, 20%, 23%);
  border-radius: 100%;
  width: 48px;
  height: 48px;
}

.submit-button {
  color: hsl(213, 19%, 18%);
  background-color: hsl(25, 97%, 53%);
  border-radius: 24px;
  width: 100%;
}

/* <!-- Thank you state start --> */
.thank-you-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustration-thank-you {
  padding: 4px;
  margin: 12px 0;
}

.users-rating {
  background-color: hsl(215, 20%, 23%);
  color: hsl(25, 97%, 53%);

  padding: 12px;
  border-radius: 24px;
}

.thank-you-p {
  text-align: center;
  padding: 16px;
  margin: 0px 0px;
}

/* DOM TOGGLE CLASSES */
.active {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.hidden {
  display: none;
}
